<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/beans.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <display-name>CreateProductServlet</display-name>
    <servlet-name>CreateProductServlet</servlet-name>
    <servlet-class>com.syntechx.product.servlets.CreateProductServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>DisplayProductDetailsServlet</display-name>
    <servlet-name>DisplayProductDetailsServlet</servlet-name>
    <servlet-class>com.syntechx.product.servlets.DisplayProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProductServlet</servlet-name>
    <url-pattern>/CreateProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayProductDetailsServlet</servlet-name>
    <url-pattern>/DisplayProductDetailsServlet</url-pattern>
  </servlet-mapping>

</web-app>
